.Admin_Header_Container {
  height: 60px;
  position: fixed;
  top: 0;
  background: #fafbfc;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  transition: 0.4s ease-in-out;
  z-index: 10;
}

.Admin_Header_Mobile {
  display: none;
}
@media (max-width: 991px) {
  .Admin_Header_Desktop {
    display: none;
  }
  .Admin_Header_Mobile {
    display: block;
  }
}

.Admin_Header_Left_Logo_Menu_Container {
  width: 275px;
  transition: 0.4s ease-in-out;
}
.Admin_Header_Left_Logo_Menu_Container.active {
  width: 90px;
  justify-content: start !important;
}
.Admin_Header_Left_Logo_Container {
  width: 100px;
  height: 100%;
  transition: 0.4s ease-in-out;
}
.Admin_Header_Left_Logo_Container.hide {
  width: 0;
  margin-right: 0 !important;
}
.Admin_Header_Left_Hamburger_Container,
.Admin_Header_Right_Hamburger_Container {
  cursor: pointer;
  color: #3f6ad8;
}
.Admin_Header_Left_Hamburger_Icon,
.Admin_Header_Right_Hamburger_Icon {
  visibility: hidden;
  opacity: 0;
  transform: rotate(-360deg);
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out, display 0.4s ease-in-out;
  transition: all 0.4s ease-in-out !important;
}
.Admin_Header_Left_Hamburger_Icon.active,
.Admin_Header_Right_Hamburger_Icon.active {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  transform: rotate(0deg);
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out !important;
}
.Admin_Header_Right_Hamburger_Container {
  width: 100px;
}

.Admin_Header_Left_Search_Container {
  color: #3f6ad8;
  background-color: #0000000f;
  border-radius: 50px;
  width: 45px;
  transition: width 0.4s ease-in-out;
  height: 45px;
}
.Admin_Header_Left_Search_Container.show {
  width: 250px;
  background-color: #0000000f;
  border-radius: 50px;
  color: #3f6ad8;
  transition: width 0.4s ease-in-out;
}
.Admin_Header_Left_Search_Icon_Container {
  padding: 10px;
  border-radius: 50px;
  width: 45px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: #0000000f;
  z-index: 2;
}
.Admin_Header_Left_Close_Icon_Container {
  position: absolute;
  top: 11px;
  right: 0;
  transform: rotate(-360deg);
  color: #3f6ad8;
  transition: visibility 0.8s ease-in-out, opacity 0.8s ease-in-out,
    transform 0.8s ease-in-out;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}
.Admin_Header_Left_Close_Icon_Container.show {
  right: -30px;
  transform: rotate(0deg);
  visibility: visible;
  opacity: 1;
  transition: visibility 0.8s ease-in-out, opacity 0.8s ease-in-out,
    transform 0.8s ease-in-out;
}
.Admin_Header_Left_Search_Input {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: 0 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  transform: translate(0, 60px);
  transition: all 0.4s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.4s;
  font-size: 0.88rem;
  color: #000;
  z-index: 1;
}
.Admin_Header_Left_Search_Input.show {
  transform: translate(0, 12px);
  opacity: 1;
  transition: all 0.4s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.4s;
  z-index: 1;
}
.Admin_Header_Left_Search_Input:active,
.Admin_Header_Left_Search_Input:focus,
.Admin_Header_Left_Search_Input:focus-visible,
.Admin_Header_Left_Search_Input:focus-within {
  outline: none;
  border: 0;
}

.Admin_PageNav_Link,
.Admin_PageNav_MenuBtn {
  display: block;
  line-height: 2.1rem;
  height: 2.1rem;
  padding: 0 1.5rem 0 20px;
  border-radius: 0.25rem !important;
  color: #343a40 !important;
  background-color: transparent !important;
  white-space: nowrap;
  transition: all 0.4s !important;
  margin: 0.1rem 0;
  font-size: 14px;
  text-decoration: none;
}
.Admin_PageNav_MenuBtn {
  height: 2.4rem;
}
.Admin_PageNav_Link:hover,
.Admin_PageNav_MenuBtn:hover,
.Admin_PageNav_MenuBtn.active:hover {
  background-color: #e0f3ff !important;
}
.Admin_PageNav_Link.active,
.Admin_PageNav_MenuBtn.active {
  color: #3f6ad8;
  background: #e0f3ff !important;
  font-weight: 700;
}
.Admin_PageNav_MenuBtn.active {
  background: transparent !important;
  transition: 0.4s ease-in-out;
}

.accordion-button::after {
  flex-shrink: 0;
  content: "";
  transition: all 0.4s ease-in-out !important;
  display: block;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239e9e9e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  transform: scale(0.5) rotate(-90deg) !important;
  float: right;
}
.accordion-button:not(.collapsed)::after {
  transform: scale(0.5) rotate(-180deg) !important;
}
.Admin_PageNav_MenuBtn {
  padding: 0 1.5rem 0 10px;
}
.Admin_PageNav_Container {
  transition: padding 300ms;
  padding: 0.5em 0 0 2rem;
}
.Admin_PageNav_Container:before {
  content: "";
  height: 100%;
  opacity: 1;
  width: 3px;
  background: #e0f3ff;
  position: absolute;
  left: 20px;
  top: 0;
  border-radius: 15px;
}

.Admin_Header_Right_Menu_Container {
  line-height: 60px;
}
.Admin_Header_Right_Menu_Icon {
  cursor: pointer;
  color: #3f6ad8;
}
.Admin_Desktop_Right_Header_Item_Txt {
  font-size: 14px;
}
/* Admin Sidebar  */
.Admin_RightSidebar,
.Admin_LeftSidebar,
.Admin_Sidebar_Layout {
  width: 90px;
  height: 100vh;
  min-width: 80px;
  background: #fff;
  box-shadow: 7px 0 30px rgba(0, 0, 0, 0.05);
  transition: width 0.4s ease-in-out;
  overflow: hidden;
  overflow-y: auto;
  z-index: 8;
}
.Admin_RightSidebar {
  width: 0;
  min-width: 0;
}
.Admin_Sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  margin-top: 60px;
}
.Admin_Sidebar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
.Admin_Sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dadada;
}
.Accordion_Icon {
  color: #dadada;
}
.Admin_Sidebar_Layout.active,
.Admin_RightSidebar.active,
.Admin_LeftSidebar.active,
.Admin_RightSidebar:hover,
.Admin_LeftSidebar:hover {
  transition: all 0.4s ease-in-out;
  width: 280px !important;
}
.Admin_Sidebar_Container {
  padding: 4.5rem 1.5rem 1.5rem;
  transition: all 0.4s ease-in-out;
}
.Accrodion_Headline_Container {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0.75rem 0;
  font-weight: 700;
  color: #3f6ad8;
  white-space: nowrap;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.Admin_Sidebar_Container.close .Accrodion_Headline_Container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e0f3ff;
  text-indent: 1px;
  transition: all 0.4s ease-in-out;
}

.Admin_LeftSidebar:hover
  > .Admin_Sidebar_Container.close
  > .Accrodion_Headline_Container::before {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.Admin_Sidebar_Container.close .Accrodion_Headline,
.Admin_Sidebar_Container.close .Accordion_Category,
.Admin_Sidebar_Container.close .Admin_PageNav_Link_Container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.Admin_LeftSidebar:hover .Accrodion_Headline,
.Admin_LeftSidebar:hover .Accordion_Category,
.Admin_LeftSidebar:hover .Admin_PageNav_Link_Container {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 991px) {
  .Admin_RightSidebar,
  .Admin_LeftSidebar,
  .Admin_Sidebar_Layout {
    min-width: 0px;
    width: 0;
  }
  .Admin_Sidebar_Layout {
    position: fixed !important;
  }
}

/* Top Down Popup */
.Admin_TopDown_Mobile_Header {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 60px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  transition: all 0.2s;
  background: #fff;
  border-radius: 50px;
  padding: 0 10px;
  overflow: hidden;
  z-index: 11;
  margin: auto;
}
.Admin_TopDown_Mobile_Header.active {
  visibility: visible;
  opacity: 1;
  top: 80px;
}
.Admin_TopDown_Mobile_Header_Item_Btn,
.Admin_Desktop_Right_Header_Item_Btn {
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.Admin_TopDown_Mobile_Header_Item_Btn_Bg,
.Admin_TopDown_Mobile_Header_Item_Bg,
.Admin_Header_Right_Header_Item_Bg {
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  transition: opacity 0.2s;
  z-index: -22;
  position: absolute;
  top: 0;
}

.Admin_TopDown_Mobile_Header_Search_Container.show {
  margin-right: 1.4rem;
  z-index: 2;
}
.Admin_TopDown_Mobile_Header_Item {
  cursor: pointer;
}
.Admin_TopDown_Mobile_Header {
  display: none;
}
@media (max-width: 991px) {
  .Admin_TopDown_Mobile_Header {
    display: block;
  }
}

.Admin_Body_Layout {
  background-color: #f1f4f6;
}
.Admin_Content_Layout {
  margin-top: 5rem;
  margin-left: auto;
  transition: all 1s ease-in-out;
  flex-grow: 1;
  background-color: #f1f4f6;
}

.DAdmin_Hero_Btn {
  box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.4),
    0 0.0625rem 0.125rem rgba(22, 170, 255, 0.5);
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
  color: #fff !important;
  background-color: #16aaff;
  border-color: #16aaff;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  outline: none !important;
  border: 1px solid transparent !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 3px !important;
}

.DAdmin_Hero_Btn:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.5),
    0 0.0625rem 0.125rem rgba(22, 170, 255, 0.6) !important;
  color: #fff !important;
  background-color: #0098ef;
  border-color: #0090e2;
}
