/* ************************************************ */
/*                  All Order Css                   */
/* ************************************************ */
.DAllOrders_Item_Header {
  height: 35px;
  overflow: hidden;
  line-height: 34px;
  color: #2271b1;
}
.DAllOrders_Header_Btn {
  border-radius: 2px;
}
.DAllOrders_Item_Body {
  background-color: transparent;
  height: 70px;
  line-height: 67px;
}
.DAOIB_OrderID_EditStatus {
  color: #43aafd;
}
.DAOIB_OrderStatusBtn {
  border-radius: 2px;
  min-width: 100px;
}
.DAOIB_EditStatus_Btn {
  color: #43aafd;
  transition: all 0.4s ease-in-out;
}
.DAOIB_EditStatus_Btn:hover {
  color: #2271b1;
}
.DAOIB_EditStatus_Icon {
  width: 18px !important;
  height: 18px !important;
}
.DAOIB_OrderStatusCloseBtn {
  height: 50px;
  transition: all 0.4s ease-in-out;
}
.DAOIB_OrderStatusCloseBtn:hover {
  background-color: #dfdfdf;
}
.DAllOrders .modal-dialog {
  max-width: 500px !important;
}
.DAllOrders .modal-footer {
  background: #fcfcfc;
  border-top: 1px solid #dfdfdf;
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.1);
}
.EditOrderModal_StatusBtn {
  border: 1px solid #ccc;
  color: #0a4b78;
  background: #f0f0f1;
  text-align: center;
  white-space: nowrap;

  transition: all 0.4s ease-in-out;
}

.EditOrderModal_EditBtn {
  border-radius: 2px;
  background-color: #2271b1;
}
.DCLCACB_Item_Operation_Container {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.MAO_AllOrder_Order_Body_Name:hover .DCLCACB_Item_Operation_Container {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}
.DAllOrder_Mobile {
  display: none;
}
@media (max-width: 768px) {
  .DAllOrders_Desktop {
    display: none;
  }
  .DAllOrder_Mobile {
    display: block;
  }
}

/* ************************************************ */
/*                  Add Order Css                   */
/* ************************************************ */
.DAddOrder_Heading {
  min-height: 60px;
  height: 60px;
}
.DAllOrders_Item {
  height: 50px;
}
.DALCOPC_Header {
  height: 40px;
  background-color: #f8f8f8;
  color: #999;
  line-height: 40px;
}

.DALCOPC_Product_Item {
  min-height: 50px;
}
.DAOIB_Edit_Icon {
  width: 14px !important;
  height: 14px !important;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  color: #ccc;
}
.DAOIB_Edit_Icon:hover {
  color: red;
  transition: all 0.4s ease-in-out;
}

.DALCOPC_Cost_Col,
.DALCOPC_Qty_Col,
.DALCOPC_Discount_Col {
  width: 90px;
}
.DALCOPC_Total_Col {
  flex: 1;
}

.DALCOPC_Product_img {
  width: 38px;
  height: 38px;
  border: 2px solid #e8e8e8;
  background: #f8f8f8;
  color: #ccc;
  position: relative;
  font-size: 21px;
  display: block;
  text-align: center;
}
.DALCOPC_Product_Info_Title {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
.DALCOPC_Qty_Input {
  width: 50px;
}
.DALCOPC_Product_Edit_IconContainer {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.DALCOPC_Product_Item:hover .DALCOPC_Product_Edit_IconContainer {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}
.DAOC_OrderData_Total_Container {
  border-bottom: 1px solid #dfdfdf;
  padding: 0.5em 10px;
  background-color: #f8f8f8;
  line-height: 2em;
  text-align: right;
}
.DALC_OrderData_Total_ItemsSubtotal,
.DALC_OrderData_Total_OrderTotal {
  width: 250px;
  color: #3c434a;
}
.DALC_OrderData_Total_ItemsSubtotal_Heading,
.DALC_OrderData_Total_OrderTotal_Heading {
  width: 100px;
}
.DALCOPC_ExistProduct_Container {
  max-height: 162px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6969dd #e0e0e0;
  padding: 1rem;
}
.DALCOPC_ExistProduct_Container::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
.DALCOPC_ExistProduct_Container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.DALCOPC_ExistProduct_Container::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 10px;
}
.DALCOPC_AddProductToOrder_Selected_Product_Qty {
  width: 50px;
}

@media (max-width: 768px) {
  .DALCOPC_Cost_Col,
  .DALCOPC_Qty_Col {
    width: 50px;
  }
  .DALCOPC_Qty_Input {
    width: 100%;
  }
  .DALC_OrderData_Total_ItemsSubtotal,
  .DALC_OrderData_Total_OrderTotal {
    width: 100%;
    color: #3c434a;
  }
  .DALC_OrderData_Total_ItemsSubtotal_Heading,
  .DALC_OrderData_Total_OrderTotal_Heading {
    text-align: left !important;
  }
}
@media (max-width: 600px) {
  .DALCOPC_Discount_Col,
  .DALCOPC_Cost_Col {
    display: none;
  }
}
/* ************************************************ */
/*          Add Product To Order Modal Css          */
/* ************************************************ */
.DALCOPC_AddProductToOrder_Qty {
  width: 70px;
}
.DALCOPC_Cards_Item .accordion-header {
  height: 28px;
  line-height: 100%;
}
.DALCOPC_AddProductToOrder_Qty {
  height: 30px;
}
.DALCOPC_AddProductToOrder_Container {
  z-index: 5;
  transition: all 0.4s ease-in-out;
}
.DALCOPC_Cards_Item .accordion-item,
.DALCOPC_ExistProduct_Container {
  border-color: #0ae !important;
}
.DALCOPC_ExistProduct_Product:hover {
  background: #0ae;
  color: #fff;
}
.SearchProductModal .modal-body {
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
  margin-bottom: 1rem;
}
