/* ****************************************************** */
/*                    DAddProduct Css                     */
/* ****************************************************** */
.DAddProduct_Heading {
  min-height: 60px;
  height: 60px;
}
.DAddProduct_Heading_txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 60px;
}
.DAddProduct_AddBtn {
  font-size: 14px;
}
.DALC_Forms_Container {
  width: 200px;
  flex: 1;
}
.DALC_Cards_Container_Layout_Container {
  float: right;
  width: 280px;
  min-width: 280px;
}

.DAddProduct .form-control {
  font-size: 14px;
}

.DALCF_Product_Description_Heading {
  font-size: 14px;
  font-weight: 500;
  color: #1d2327;
  line-height: 1.4;
  padding: 8px 12px;
}
@media (max-width: 991px) {
  .DAddProduct_Layout_Container {
    flex-wrap: wrap;
  }
  .DALC_Forms_Container {
    margin: 0 !important;
  }
  .DALC_Cards_Container_Layout_Container {
    width: 100%;
  }
}

/* Product Categories Css  */
.DALC_Cards_Item_Heading {
  color: #343a40;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
}

.DALC_Cards_Item .accordion-button.collapsed {
  border-bottom: 0 !important;
}
.DALC_Cards_Container {
  padding-top: 2rem;
}
.DALC_Cards_Item_Product_Cat_Item,
.DALC_Cards_Item_Product_Cat_Btn,
.DALC_Cat_AddNewCat_Link {
  margin: 0;
  padding: 0;
  line-height: 1.69230769;
  word-wrap: break-word;
  font-size: 13px;
}
.DALC_Cat_AddNewCat_Link:focus-visible {
  outline: none;
}
.DALC_Cards_Item_Product_Cat_Item_Input {
  border: 1px solid #8c8f94;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  margin: -0.25rem 0.25rem 0 0;
  padding: 0 !important;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.05s border-color ease-in-out;
}

.DALC_Cards_Item_Product_Cat_Btn {
  color: #2271b1;
  outline: none;
  margin-bottom: -1px;
  padding: 3px 5px 6px;
  z-index: 2;
}
.DALC_Cards_Item_Product_Cat_Btn.active {
  border: 1px solid #dcdcde;
  border-bottom-color: #fff;
  background-color: #fff;
  color: #2c3338;
}
.DALC_Cards_Item_Product_Cat {
  min-height: 42px;
  max-height: 200px;
  overflow: auto;
  border: solid 1px #dcdcde;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out,
    display 0.8s ease-in-out;
}
.DALC_Cards_Item_Product_Cat.active {
  visibility: visible;
  opacity: 1;
  display: block;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out,
    display 0.8s ease-in-out;
}
.DALC_Cat_AddNew_Item {
  height: 0px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.DALC_Cat_AddNew_Item.active,
.DALC_Cat_AddNew_Tags {
  height: 25px;
  transition: all 0.4s ease-in-out;
}
.DALC_Tags_Separted_Txt {
  font-size: 12px;
}
.DALC_Cat_AddNewCat_Btn,
.DALC_Cards_Item_Product_Tag_AddTag_Btn {
  font-size: 13px;
  height: 100%;
  width: 50px;
  transition: 0.4s ease-in-out;
}
.DALC_Tags_Txt {
  font-size: 12px;
}
.DALC_Tags_Txt_Cross_Icon {
  width: 14px !important;
  height: 14px !important;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.DALC_Tags_Txt_Cross_Icon:hover {
  color: red;
  transition: all 0.4s ease-in-out;
}
.DALC_Cat_AddNew_Item_Input,
.DALC_Cards_Item_Product_Tag_Input {
  border: 1px solid #8c8f94;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
  padding: 10px;
  flex: 1;
}
.DALC_Cat_AddNew_Item_Input:active,
.DALC_Cat_AddNew_Item_Input:hover,
.DALC_Cat_AddNew_Item_Input:focus,
.DALC_Cat_AddNew_Item_Input:focus-within,
.DALC_Cat_AddNew_Item_Input:focus-visible,
.DALC_Cat_AddNewCat_Btn:hover {
  border: 1px solid #dadada !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
  transition: 0.4s border-color ease-in-out;
}
.DALC_Cards_Item_Product_Tag_Container {
  height: 30px;
}

/* ******************************************************** */
/* Product Data Css  */
.DALCF_Product_Data_Item_Left {
  width: 230px;
  font-size: 13px;
  transition: all 0.4s ease-in-out;
}
.DALCF_Product_Data_Item_Right {
  flex: 1;
  font-size: 13px;
}
.DALCF_Product_Data_Item {
  font-size: 13px;
  transition: 0.2s ease-in-out;
  color: #3f6ad8;
  cursor: pointer;
  z-index: 2;
  height: 50px;
  line-height: 36px;
}
.DALCF_Product_Data_Item_Link {
  color: inherit;
}
.DALCF_Product_Data_Item.active,
.DALCF_Product_Data_Item:hover {
  background-color: #eee;
  color: #555555;
}
.DALCF_Product_Data_Item_Icon,
.DALCFPDIRI_Images_Gallery_Item_DeleteIcon {
  width: 13px !important;
  height: 13px !important;
  cursor: pointer;
}
.DALCFPDIRI_Images_Gallery_Item_DeleteIcon:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
.DALCFPDIR_Item {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}
.DALCF_Product_Data_Item_Right_General_Container,
.DALCF_Product_Data_Item_Right_Inventory {
  overflow: hidden;
  overflow-y: auto;
  height: 200px;
}
.DALCF_Product_Data_Item_Right_General_Container::-webkit-scrollbar {
  display: none;
}
.DALCFPDIR_Item.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateX(0);
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  transition-delay: 0.4s;
}
.DALCFPDIR_Item.active::-webkit-scrollbar {
  appearance: none;
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.DALCFPDIR_Label {
  width: 120px;
  min-width: 80px;
  word-wrap: nowrap;
}
.DALCFPDIR_Label_Inventory {
  width: 200px;
  cursor: pointer;
}
.DALCFPDIR_Validation {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.DALCFPDIR_Validation.Invalid {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}
.DALCFPDIR_Input_Dimensions {
  width: 80px;
  font-size: 12px !important;
}
.DALCFPDIRI_Images_Gallery {
  overflow: hidden;
  overflow-y: auto;
  height: 110px;
  padding-bottom: 1rem;
}
.DALCFPDIRI_Images_Gallery_Item_Img {
  width: 115px;
  min-height: 80px;
  height: 80px;
}
.DALCFPDIRG_Sale_Schedule_Input_Container {
  height: 0px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.DALCFPDIRG_Sale_Schedule_Input_Container.active {
  height: 70px;
  transition: all 0.4s ease-in-out;
}
.DALCF_CancelBtn {
  font-size: 13px;
  width: 50px;
  transition: 0.4s ease-in-out;
}
.DALCFPDIRI_Quantity,
.DALCFPDIRI_AlowOrder,
.DALCFPDIRI_StockStatus.hide,
.DALCFPDIRI_Stock {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.DALCFPDIRI_Quantity.active,
.DALCFPDIRI_AlowOrder.active,
.DALCFPDIRI_Stock.active,
.DALCFPDIRI_StockStatus {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .DALCF_Product_Data_Item_Left {
    width: 45px;
  }
  .DALCF_Product_Data_Item_Link {
    display: none;
  }
  .DALCFPDIR_Label {
    width: 105px;
  }
  .DALCFPDIR_Input {
    margin-top: 5px;
  }
  .DALCFPDIR_Item.active::-webkit-scrollbar {
    appearance: block;
    display: block;
  }
  .DALCFPDIRG_Sale_Schedule_Input_Container.active {
    height: 100px;
    transition: all 0.4s ease-in-out;
  }
  .DALCF_Product_Data_Item_Right_General_Container {
    height: 344px;
  }
  .DALCF_Product_Data_Item {
    height: 90px;
    line-height: 80px;
  }

  .DALCFPDIRI_Images_Gallery {
    height: 250px;
  }
  .DALCF_CancelBtn {
    width: 100%;
  }
}

/* ****************************************************** */
/*                    DAllProduct Css                     */
/* ****************************************************** */
.DAllProduct_Header_Btn {
  font-size: 12px;
  border-radius: 2px;
}
.DAllProduct_AllProducts_Header_Btn_Container {
  width: 140px !important;
}
.DAllProduct_AllProducts_Header_Btn_Item_Container {
  min-width: 140px !important;
  z-index: 1;
}
.DAllProduct_AllProducts_Header_Btn_Item {
  cursor: pointer;
}

.DAllProduct_AllProducts_Item_Header {
  height: 35px;
  overflow: hidden;
  font-size: 14px;
}
.DAllProduct_AllProducts_Item_Body {
  background-color: transparent;
  height: 70px;
  font-size: 14px;
}

.DAPIH_Image_Icon {
  width: 16px !important;
  height: 16px !important;
}
.DAPIH_Image {
  width: 100%;
  height: 100%;
}
.DAPIH_Image_Container {
  width: 110px !important;
  height: 35px !important;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.DAPIH_Image_Container_Image_Parent {
  width: 110px !important;
  height: 70px !important;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.DAPIH_Title_Container {
  width: 22%;
}
.DAPIH_Tags_Container,
.DAPIH_Stock_Container,
.DAPIH_Price_Container {
  width: 11%;
  padding: 5px;
  color: #2271b1;
}

.DAPIH_Sku_Container,
.DAPIH_Category_Container,
.DAPIH_Date_Container {
  width: 15%;
  color: #2271b1;
}
.DAPIH_Title_Txt {
  color: #2271b1;
  font-size: 14px !important;
  font-weight: 600;
}
.DAPIH_Stock_Txt {
  color: #7ad03a;
}
.DAPIH_Price_Txt,
.DAPIH_Category_Txt,
.DAPIH_Tags_Txt,
.DAPIH_Date_Txt {
  font-size: 13px;
}
.DAPIH_Price_Txt,
.DAPIH_Tags_Txt,
.DAPIH_Date_Txt {
  color: #50575e;
}
