@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Primary    #40CDBD */
/* Secondary  #086C75 */
/* Other1     #2F505E */
/* Other2     #7FAC9C */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  object-fit: contain;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.FS_12 {
  font-size: 12px !important;
}
.FS_13 {
  font-size: 13px !important;
}
.FS_14 {
  font-size: 14px !important;
}
.FW_500 {
  font-weight: 500;
}
.BtnStyle1 {
  background-color: #40cdbd;
  border: 1px solid #40cdbd;
  background: linear-gradient(to left, #40cdbd 50%, #05b8ff 50%) right;
  background-size: 201%;
  color: #fff;
  transition: 0.4s ease-in-out;
}
.BtnStyle1:active,
.BtnStyle1:hover,
.BtnStyle2:active,
.BtnStyle2:hover {
  background-position: left;
  color: #fff !important;
}
.BtnStyle2 {
  background-color: #25a5d8;
  border: 1px solid #25a5d8;
  background: linear-gradient(to left, #05b8ff 50%, #40cdbd 50%) right;
  background-size: 201%;
  color: #fff;
  transition: 0.4s ease-in-out;
}
.Text_Primary_Color {
  color: #40cdbd !important;
}
.Text_Secondary_Color {
  color: #25a5d8 !important;
}
.Text_Other1_Color {
  color: #086c75 !important;
}
.Text_Other2_Color {
  color: #7fac9c !important;
}
.Bg_Primary {
  background-color: #40cdbd !important;
}
.Bg_Secondary {
  background-color: #25a5d8 !important;
}

.Bg_Other1 {
  background-color: #086c75 !important;
}
.Bg_Other2 {
  color: #7fac9c !important;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  font-size: 12px !important;
}
.HideNumberSpinButton::-webkit-inner-spin-button,
.HideNumberSpinButton::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.modal-header {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
}
.form-label {
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  color: #424242;
  display: block;
  margin-bottom: 5px;
}
