.Cart {
  background: #f4f4f4;
}
.Mobile_Cart {
  display: none;
  padding-bottom: 4rem;
}
.DCC_Left_Header {
  height: 51px;
  font-size: 12px;
  line-height: 54px;
  color: #757575;
}
.DCCHL_CheckAll_Input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.DCCL_Header_Delete_Btn {
  font-size: 12px;
  transition: 0.4s ease-in-out;
  color: #757575;
}
.DCCL_Header_Delete_Btn:hover {
  color: #000000;
}
.DCCHR_Delete_Icon {
  width: 16px !important;
  height: 16px !important;
  margin-bottom: 2px;
}
.DCCL_CartItem_Heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #40cdbd;
}
.DCCL_Separator {
  border-top: 0;
  border-bottom: 1px solid #ccc;
}
.DCCL_CartItem_Product_Link {
  width: 80px;
  height: 80px;
}

.DCCL_CartItem_Product_Info {
  width: 328px;
}
.DCCL_CartItem_Product_PriceInfo {
  width: 115px;
}
.CartItem_Product_Info_Title {
  display: block;
  width: 100%;
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
  font-size: 14px;
  color: #212121;
  line-height: 16px;
}
.CPStyle_Txt,
.CPColor_Txt,
.CPStyle_Style,
.CPColor_Color,
.CartItem_Product_Rating_Container {
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
}

.CPStyle_Style,
.CPColor_Color {
  font-style: normal;
  font-weight: 600;
  color: #111111;
}
.CPLeftStock_Txt {
  font-size: 14px;
  font-weight: 600;
  color: #b12704;
}
.CarItem_Product_Color,
.CarItem_Product_Style {
  line-height: normal;
}
.CPPPrice {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #40cdbd;
}
.CPPOldPrice {
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  text-decoration: line-through;
}
.CPPDiscount {
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  font-weight: 500;
}
.CPPOperation_Delete_Btn {
  color: #9e9e9e;
  transition: 0.4s ease-in-out;
}
.CPPOperation_WishList_Btn {
  color: #40cdbd;
  transition: 0.4s ease-in-out;
}

.CPPOperation_Delete_Btn:hover,
.CPPOperation_WishList_Btn:hover {
  color: #40cdbd;
}
.DCCL_CartItem_IncDec {
  position: relative;
  width: 120px;
  margin: auto;
}
.DCCL_CartItem_Inc_Icon_Container,
.DCCL_CartItem_Dec_Icon_Container {
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  line-height: 28px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  display: block;
  border: 1px solid #40cdbd;
  background-color: #40cdbd;
  color: white;
  cursor: pointer;
}
.DCCL_CartItem_Inc_Icon_Container {
  right: 0;
}
.DCCL_CartItem_Dec_Icon_Container {
  left: 0;
}
.DCCL_CartItem_Inc_Icon_Container:hover,
.DCCL_CartItem_Dec_Icon_Container:hover {
  border: 1px solid #05b8ff;
  background-color: #05b8ff;
}
.DCCL_CartItem_IncDec_Input {
  line-height: 22px;
  height: 32px;
  color: #212121;
  font-size: 14px;
  border: 1px solid #40cdbd;
  outline: transparent;
  z-index: 1;
}
.DCCL_CartItem_IncDec_Input:focus,
.DCCL_CartItem_IncDec_Input:focus-visible,
.DCCL_CartItem_IncDec_Input:focus-within {
  border: 1px solid #40cdbd;
  outline: transparent;
}

@media (max-width: 768px) {
  .Desktop_Cart {
    display: none;
  }
  .Mobile_Cart {
    display: block;
  }
}

/* **************************************** */
/*              Order Summery               */
/* **************************************** */

.DCC_Order_Summery_Heading {
  font-size: 18px;
  color: #212121;
  margin-bottom: 14px;
  position: relative;
  font-weight: 500;
}
.DCC_Subtotal_Txt,
.DCC_ShippingFee_Txt,
.DCC_Total_Txt {
  font-size: 14px;
  color: #757575;
  letter-spacing: 0;
  line-height: 21px;
}
.DCC_Subtotal_Price,
.DCC_ShippingFee_Price {
  color: #202020;
  letter-spacing: -0.44px;
}
.DCC_Total_Price {
  font-size: 18px;
  color: #40cdbd;
}
.DCC_Voucher_Container {
  height: 38px;
  line-height: 38px;
  margin: 0;
}
.DDC_Voucher_Input {
  flex: 1;
  height: 100%;
  font-size: 14px;
  padding: 0 8px;
  color: #212121;
  font-weight: 400;
  vertical-align: baseline;
  background-color: #fff;
  transition: 0.4s ease-in-out;
  border: 1px solid #dadada;
}
.DDC_Voucher_Input:focus,
.DDC_Voucher_Input:focus-within,
.DDC_Voucher_Input:focus-visible,
.DDC_Voucher_Input:hover {
  border: 1px solid #05b8ff;
  outline: none;
}
.DCC_Voucher_Btn {
  width: 104px;
  height: 100%;
  text-transform: uppercase;
  background-color: #05b8ff;
  border-color: #05b8ff;
  display: block;
  color: #fff;
  font-size: 14px;
  transition: 0.4s ease-in-out;
}
.DCC_Voucher_Btn:hover {
  border-color: #05b8ff;
}
.DCC_Checkout_Btn {
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 14px;
}
.DCC_Checkout_Btn:active,
.DCC_Checkout_Btn:hover {
  background-position: left;
  color: #fff !important;
  border: 1px solid #25a5d8;
}
.DCC_Checkout_Link {
  padding: 0 36px;
  color: #fff;
}

/* *********************************************************** */
/*                      Mobile Cart Css                        */
/* *********************************************************** */
/* Mobile Checkout Footer Css */
.MCC_Order_Summery_Container {
  height: 60px;
  position: fixed;
  bottom: 48px;
  left: 0;
  box-shadow: 0px -1px 10px #00000033;
}
.MCC_Order_Summery_Left {
  width: 65%;
}
.MCC_Order_Summery_Right {
  width: 45%;
}
.MCCOS_Delivery_Container {
  font-size: 12px;
  color: #757575;
  line-height: normal;
}
.MCCOS_Total_Container {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
}
.MCCOS_Delivery_Price,
.MCCOS_Total_Price {
  color: #40cdbd;
}
.MCCOS_Checkout_Btn {
  width: 140px;
}
.MCCOS_Checkout_Link {
  text-transform: capitalize;
}

/* Mobile Voucher Css */
.MCC_Voucher {
  height: 70px;
}
.MCC_Voucher_input {
  flex: 1;
  height: 100%;
  font-size: 14px;
  padding: 0 8px;
  color: #212121;
  font-weight: 400;
  vertical-align: baseline;
  background-color: #fff;
  transition: 0.4s ease-in-out;
  border: 1px solid #dadada;
}
.MCC_Voucher_input:focus,
.MCC_Voucher_input:focus-within,
.MCC_Voucher_input:focus-visible,
.MCC_Voucher_input:hover {
  border: 1px solid #1a9cb7;
  outline: none;
}
.MCC_Voucher_Btn {
  width: 80px;
  text-transform: uppercase;
  background-color: #25a5d8;
  border-color: #1a9cb7;
  font-size: 14px;
  transition: 0.4s ease-in-out;
}

/* Mobile Cartitem Css */
.CartItem_Product_Info {
  height: 240px;
}
.MCCD_Product_IncDec_Container {
  height: 32px;
  line-height: 32px;
}
.MCCD_Product_IncDec_Input {
  color: #212121;
  font-size: 14px;
  border: 1px solid #40cdbd;
  outline: none;
  z-index: 1;
}
.MCCD_Product_IncDec_Input:focus,
.MCCD_Product_IncDec_Input:focus-visible,
.MCCD_Product_IncDec_Input:focus-within {
  border: 1px solid #40cdbd;
  outline: none;
}
.MCCD_CartItem_Inc_Icon_Container,
.MCCD_CartItem_Dec_Icon_Container {
  width: 32px;
  height: 32px;
  line-height: 30px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  display: block;
  border: 1px solid #40cdbd;
  background-color: #40cdbd;
  color: white;
  cursor: pointer;
}

.MCCD_CartItem_Inc_Icon_Container:hover,
.MCCD_CartItem_Dec_Icon_Container:hover {
  border: 1px solid #05b8ff;
  background-color: #05b8ff;
}

/* *********************************************************** */
/*                     No Cart Item Css                        */
/* *********************************************************** */
.NoCartItem {
  padding: 160px 0;
}
.NoCartItem_Heading {
  color: #757575;
  font-size: 14px;
  line-height: 18px;
}
.ContinueShopping_Link {
  display: block;
  width: 200px;
  margin: auto;
  height: 48px;
  font-size: 14px;
  line-height: 46px;
  background-color: transparent;
  border: 1px solid #40cdbd;
  color: #40cdbd;
  transition: 0.4s ease-in-out;
}
.ContinueShopping_Link:hover {
  background-color: #25a5d8;
  color: #fff;
}
