.User {
  background-color: #f4f4f4;
}
.MobileUser {
  display: none;
}
.D_None_MainHeader {
  display: none;
}
@media (max-width: 768px) {
  .MobileUser {
    display: block;
  }
  .DesktopUser {
    display: none;
  }
}
/* ************************************************* */
/*                   Profile                         */
/* ************************************************* */
.UserLink_Heading {
  line-height: 24px;
  color: #424242;
  font-weight: 500;
}
.UserLink_Heading.active {
  color: #1a9cb7;
}

.UserLink {
  font-size: 14px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  color: #757575;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
}
.UserLink:hover {
  color: #1a9cb7;
}
.UserLink.active {
  color: #1a9cb7;
  font-weight: 500 !important;
}
.User_Container_Heading {
  font-size: 22px;
  font-weight: 400;
  color: #424242;
}

.MMA_Profile_Item_Title {
  color: #424242;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.MMA_Profile_Item_Info {
  color: #212121;
  font-size: 14px;
  padding-top: 7px;
  word-wrap: break-word;
  line-height: normal;
}
.MMA_Profile_Item_Btn {
  color: #1a9cb7;
  font-size: 12px;
  font-weight: 400;
}
.MMA_Profile_Item_Info_Optional {
  color: #9e9e9e;
  font-size: 12px;
  font-weight: 400;
}
.MMA_Profile_Link {
  margin-bottom: 20px;
  display: block;
  width: 288px;
}
.MMA_Profile_Newsletter_Link {
  color: #1a9cb7;
  margin-bottom: 20px;
  font-size: 12px;
  display: block;
  transition: 0.4s ease-in-out;
}
.MMA_Profile_Newsletter_Link:hover {
  color: #16849b;
}
.MMA_Profile_Edit_Btn {
  background-color: #1a9cb7;
  margin: 0;
  height: 48px;
  padding: 0 36px;
  font-size: 14px;
  line-height: 46px;
  border-width: 1px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}
.MMA_Profile_Edit_Btn:hover {
  color: #fff;
  background-color: #16849b;
  border-color: #16849b;
  text-decoration: none;
}
.Mobile_User_Profile {
  display: none;
}
@media (max-width: 768px) {
  .Mobile_User_Profile {
    display: block;
  }
  .Desktop_User_Profile {
    display: none;
  }
}
/* ************************************************* */
/*                   AddressBook                     */
/* ************************************************* */
.User_Container_Right_Btn {
  color: #1a1a1a;
  font-size: 12px;
}
.UC_Right_Btn_Icon {
  width: 20px !important;
  height: 20px !important;
  color: #f57224;
}
.UAC_Container,
.UPC_Container {
  height: 500px;
}
.UAC_AddressBook {
  font-size: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  line-height: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.UAC_AddressBook:hover {
  -webkit-box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f,
    0 5px 12px 4px #00000017;
  box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f,
    0 5px 12px 4px #00000017;
}
.UAC_AddressBook_Info_MainTag,
.UAC_AddressBook_Info_SecondaryTag {
  padding: 2px 6px;
  line-height: 14px;
  background: rgba(0, 119, 135, 0.08);
  border-radius: 2px;
  margin-right: 8px;
  color: #007787;
}
.UAC_AddressBook_Info_SecondaryTag {
  background-color: #f5f5f5;
  color: #1a1a1a;
}
.Mobile_AddressBook_Container {
  display: none;
}
@media (max-width: 768px) {
  .Desktop_AddressBook_Container {
    display: none;
  }
  .Mobile_AddressBook_Container {
    display: block;
  }
}
/* ************************************************* */
/*                   Payment                         */
/* ************************************************* */
.UPC_Container {
  padding-top: 180px !important;
}
.UPC_NoPaymentOption_Icon {
  width: 100px !important;
  height: 100px !important;
  color: #dadada;
}

.UPC_NoPaymentOption_Txt {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .User_Container_Heading {
    padding-left: 1rem;
  }
}
/* ************************************************* */
/*                   Wishlist                        */
/* ************************************************* */
.User_Wishlist_Container {
  overflow: auto;
  height: 100%;
  padding-bottom: 4rem;
}
.UWN_Txt {
  font-size: 14px;
  color: #757575;
}
.UWN_ShoppingNow {
  width: 180px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #f57224;
  border-radius: 2px;
  color: #f57224;
  height: 35px;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-transform: uppercase;
}
.User_JustForYou_Heading {
  font-size: 22px;
  color: #757575;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.User_Wishlist_AddAllToCart_Container {
  height: 48px;
  line-height: 48px;
  margin-top: 12px;
  padding-right: 20px;
  padding-left: 14px;
  background: #fff;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.User_Wishlist_AddAllToCart_Link {
  text-transform: uppercase;
  color: #1a9cb7;
  font-size: 14px;
}
.User_Wishlist_Item_Header {
  height: 50px;
  line-height: 50px;
  background: #fafafa;
  padding-left: 12px;
  color: #202020;
  font-size: 12px;
}
.User_Wishlist_Item_Separator {
  border-bottom: 1px solid #eff0f5;
}
.User_Wishlist_Item_Pic_Container {
  width: 15%;
  height: 70px;
}
.User_Wishlist_Item_Pic_Link {
  height: 100px;
  padding: 10px;
}
.User_Wishlist_Item_Info {
  width: 83%;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.User_Wishlist_Item_Info_Title_Link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  font-size: 12px;
  width: 100%;
  max-height: 32px;
  white-space: nowrap;
  padding-left: 0;
  color: #212121;
}
.User_Wishlist_Item_Information {
  line-height: 0;
  font-size: 11px;
}

.User_Wishlist_Item_NewPrice {
  color: #f57224;
  font-size: 16px;
}
.User_Wishlist_Item_Discount,
.User_Wishlist_Item_OldPrice {
  font-size: 14px;
}

.User_Wishlist_Item_Delete_Link {
  color: #dadada;
  transition: 0.4s ease-in-out;
}
.User_Wishlist_Item_Delete_Link:hover {
  color: #f57224;
}

.User_Wishlist_To_Cart_Link {
  background-color: #f57224;
  height: 35px;
  width: 75px;
  line-height: 33px;
  border-radius: 2px;
  transition: 0.4s ease-in-out;
}
.User_Wishlist_To_Cart_Link:hover {
  background-color: #ec5700;
}
.Mobile_User_Wishlist_Item_Wrapper {
  display: none;
}
@media (max-width: 991px) {
  .User_Wishlist_Item_Pic_Container {
    width: 25%;
  }
  .User_Wishlist_Item_Info {
    margin-left: 0.5rem;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .User_Wishlist_Item_Pic_Container {
    width: 15%;
    height: 100%;
  }
  .User_Wishlist_Item_Info {
    margin-left: 0.5rem;
    width: 85%;
  }
  .User_Wishlist_Item_NewPrice {
    font-size: 14px;
  }
  .User_Wishlist_Item_Discount,
  .User_Wishlist_Item_OldPrice {
    font-size: 12px;
  }

  .Desktop_User_Wishlist_Item_Wrapper {
    display: none;
  }
  .Mobile_User_Wishlist_Item_Wrapper {
    display: block;
  }
}
@media (max-width: 576px) {
  .User_Wishlist_Item_Pic_Container {
    width: 20%;
  }
  .User_Wishlist_Item_Info {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .User_Wishlist_Item_Pic_Container {
    width: 30%;
  }
  .User_Wishlist_Item_Info {
    width: 70%;
  }
}

/* ************************************************* */
/*                     Orders                        */
/* ************************************************* */
.UOC_Orders_Item_Pic_Link {
  height: 80px;
}
.User_Orders_Nav_Container {
  height: 28px;
  border-bottom: 2px solid #979797;
  margin-bottom: 13px;
}
.User_Orders_Nav_Link {
  display: inline-block;
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  color: #5d5d5d;
  padding: 0 20px;
  text-transform: capitalize;
}
.User_Orders_Nav_Link.active {
  border-bottom: 4px solid #003e52;
}

.UOC_Orders_Header_Requested_Heading {
  font-size: 14px;
}
.UOC_Orders_Header_Order {
  font-size: 12px;
}
.UOC_Orders_Header_Order_Number {
  color: #1a9cb7;
}
.UOC_Orders_Header_ManageBtn {
  font-size: 14px;
  color: #1a9cb7;
}
.UOC_Orders_Item_Pic_Container {
  width: 15%;
}
.UOC_Orders_Item_Info_Container {
  width: 83%;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.UOC_Orders_Item_Info_Title_Link {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  font-size: 12px;
  max-height: 50px;
  word-wrap: break-word;
  color: #212121;
}
.UOC_Orders_Quantity_Title,
.UOC_Orders_Quantity_Txt {
  font-size: 14px;
  color: #c9c9c9;
}
.UOC_Orders_Tag {
  font-size: 12px;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 24px;
  background-color: #eff0f5;
  max-width: 150px;
}

@media (max-width: 991px) {
  .UOC_Orders_Item_Pic_Container {
    width: 21%;
  }
  .UOC_Orders_Item_Info_Container {
    width: 77%;
  }
}

/* ************************************************* */
/*                  Cancellations                    */
/* ************************************************* */
.UCC_Cancellations_Header_Requested_Heading {
  font-size: 14px;
}
.UCC_Cancellations_Header_Order {
  font-size: 12px;
}
.UCC_Cancellations_Header_Order_Number {
  color: #1a9cb7;
}
.UCC_Cancellations_Header_MoreBtn {
  font-size: 14px;
  color: #1a9cb7;
}
.UCC_Cancellations_Item_Pic_Container {
  width: 15%;
}
.UCC_Cancellations_Item_Info_Container {
  width: 83%;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.UCC_Cancellations_Item_Info_Title_Link {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  font-size: 12px;
  max-height: 50px;
  word-wrap: break-word;
  color: #212121;
}
.UCC_Cancellations_Quantity_Title,
.UCC_Cancellations_Quantity_Txt {
  font-size: 14px;
  color: #c9c9c9;
}
.UCC_Cancellations_Tag {
  font-size: 12px;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 24px;
  background-color: #eff0f5;
  max-width: 150px;
}
@media (max-width: 991px) {
  .UCC_Cancellations_Item_Pic_Container {
    width: 21%;
  }
  .UCC_Cancellations_Item_Info_Container {
    width: 77%;
  }
}

/* ************************************************* */
/*                      Returns                      */
/* ************************************************* */
.User_Returns_No_Returns_Heading {
  font-size: 14px;
  color: #757575;
}
.User_Returns_No_Rturns_Btn {
  width: 180px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #f57224;
  border-radius: 2px;
  color: #f57224;
  height: 35px;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-transform: uppercase;
}

/* ************************************************* */
/*                  Mobile User Css                  */
/* ************************************************* */
.Mobile_User_Header {
  font-size: 12px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 0.5px 0 rgba(0, 0, 0, 0.09);
  height: 48px;
  line-height: 48px;
  background: -webkit-linear-gradient(
    292.66deg,
    #f85606 60.36%,
    #f87a06 94.93%
  );
  background: linear-gradient(157.34deg, #f85606 60.36%, #f87a06 94.93%);
  color: #fff;
}
.MUH_Back_Link {
  width: 100px;
}
.MUH_Header_Title {
  font-size: 14px;
}
.Mobile_User_Header_Bottom {
  height: 48px;
  line-height: 48px;
  position: relative;
  background: #f5f5f5;
}
.MUHB_Login_Member {
  color: #000;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Mobile_User_Nav_Link {
  height: 56px;
}
.Mobile_User_Icon_Container {
  line-height: 36px;
}
.Mobile_User_Link_Icon {
  color: #dadada;
}
.Mobile_User_Link_Txt {
  color: #212121;
  line-height: 40px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Mobile_User_Fixed_Page_Container {
  position: fixed;
  right: 0;
  top: 0px;
  height: 100vh;
  width: 0;
  transition: 0.4s ease-in-out;
}
.Mobile_User_Fixed_Page_Container.active {
  width: 100%;
}
